<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Web Example App (Sql Server & .Net 8)</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a id="homeIndex" class="nav-link" asp-controller="Home" asp-action="Index">Start</a>
                        </li>
                        <partial name="_ShortlinkMenu" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container my-3">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
