@{
    ViewBag.Title = "Internal Server Error";
}

<h1>@ViewBag.Title</h1>
<p>
    There was an internal server error while processing your request. Please try again later.
</p>
<a asp-action="Index">Create a new shortlink</a>