@{
    ViewBag.Title = "Start Page";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            $('#homeIndex').addClass("active");
        });
    </script>
}
<h1>Start Page</h1>