name: Validate pull requests

on:
  pull_request:
    branches: [ "main" ]
    # Only run this workflow if it or the code has changed
    paths:
      - ".github/workflows/validate_pull_requests.yml"
      - "SimpleLinkShrinkLibrary/**"
  workflow_dispatch:

jobs:
  call-dotnet_web_build:
    uses: hcspieker/shared-build-components/.github/workflows/dotnet_web_build.yml@v2.0.0
    with:
      build-filter: 'SimpleLinkShrinkLibrary/SimpleLinkShrinkLibrary.sln'
      enable-tests: 'true'
